{% extends 'base.html.twig' %}

{% block page_title %}
    Contact - List
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header">
            <span class="pull-right">{{ pagination.getCurrentPageNumber * (pagination.items|length) }} / {{ pagination.getTotalItemCount }}</span>
            Contacts
        </div>
        <div class="box-body" style="padding: 0">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    {# sorting of properties based on query components #}
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Phones</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for element in pagination %}
                    <tr>
                        <td><a href="{{ path('contacts-edit', {'contactId': element.id}) }}">{{ element.id }}</a></td>
                        <td title="{{ element.name }}">{{ element.name|slice(0, 25) }}</td>
                        <td title="{{ element.surname }}">{{ element.surname|slice(0, 25) }}</td>
                        <td>{% for key, value in element.phones %}{{ value.getNumber }}, {% endfor %}</td>
                        <td>
                            <a class="btn btn-success btn-sm" href="{{ path('contacts-view', {"contactId": element.id}) }}" title="View"><span class="fa fa-eye"> View</span></a>
                            <a class="btn btn-info btn-sm" href="{{ path('contacts-edit', {"contactId": element.id}) }}" title="Edit"><span class="fa fa-pencil"> Edit</span></a>
                            <a class="btn btn-danger btn-sm" href="{{ path('contacts-remove', {"contactId": element.id}) }}" title="Remove"><span class="fa fa-trash"> Remove</span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="center text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}